<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!--
{{google-map lat=centerLat
             lng=centerLng
             zoom=zoom
             gopt_zoomControl=false
             type='satellite'}}

             -->

<!--<div class="controls">
  <label>
    Zoom:
    {{input type="range" value=zoom min=0 max=18 step=1}}
  </label>
</div>-->
<!--<div class="row">
     <div class="col-sm-12">
          &nbsp;  &nbsp;  &nbsp;  <p style="color:blue"> Elevation :<b>{{Elevation}}</b></p>
     </div>
</div>-->
<div class="row">

    <div class="col-sm-4" style=" margin-left:30px">
     <b>   Source:</b>
{{select-component dropdowntype="test" listitem=sourcelist selecteditemlist=selectedsource}}
    </div>
     <div class="col-sm-4">
          <b> Destination:</b>
{{select-component dropdowntype="test" listitem=destinationlist selecteditemlist=selectedDestination}}
    </div>
         
</div>
<br/>
<div class="row">
  <button class="map-button" type="submit" {{action 'submit'}}>submit</button>
</div>
<br/>
<div class="row">
  <div class="col-sm-9">
    &nbsp;   &nbsp;    &nbsp;    &nbsp;    &nbsp;
    
    <div class="map" style=" margin-left:30px">
{{#g-map lat=20.5937 lng=78.9629 zoom=12 as |context|}}
  {{#g-map-infowindow context lat=20.5937 lng=78.9629}}
    
    <p style="color:blue"> Elevation :<b>{{Elevation}}</b></p>
      <p style="color:blue"> Mapwidth :<b>{{Mapwidth}}</b></p>
        <p style="color:blue"> Latitude :<b>{{Latitude}}</b></p>
          <p style="color:blue"> Longitude :<b>{{Longitude}}</b></p>
  {{/g-map-infowindow}}
  {{g-map-marker context lat=Slat lng=Slan  }}
  {{g-map-marker context lat=Dlat lng=Dlan }}
  
{{/g-map}}
    </div>
    <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG2bRgDCNZahksdgOykBqjYfihYdd0M1U&callback=initMap">
  </script>-->
  </div>
  <div class="col-sm-3">
    <br/>
    <br/>
    <!--
    <p style="color:blue"> Elevation :<b>{{Elevation}}</b></p>
      <p style="color:blue"> Mapwidth :<b>{{Mapwidth}}</b></p>
        <p style="color:blue"> Latitude :<b>{{Latitude}}</b></p>
          <p style="color:blue"> Longitude :<b>{{Longitude}}</b></p>-->
  </div>
</div>
